// Navigation
#navigation {
  position: fixed;
  padding: 50px 0;
  z-index: 20;
  width: 100%;
    font-weight: $font-medium;
  transition: background-color $base-duration $base-timing, padding $base-duration $base-timing;

  .wrapper {
    max-width: $container-width;
  }

  &.nav-scroll {
      padding: ($base-point * 2) 0;
      background: rgba($brand-tertiary, 0.95);
  }

  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: $font-family-poppins;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;

    .nav-brand {
      display: flex;
      align-items: center;
      text-decoration: none;

      &:visited,
      &:hover,
      &:active {
          color: $brand-secondary;
          text-decoration: none;
      }
      span {
        margin-left: $base-point * 2;
        font-size: $base-point * 2;
        letter-spacing: $base-point / 2;
      }
    }

    .nav-menu {
        position: relative;

        ul {
          display: flex;

          list-style: none;
          display: flex;

          .nav-menu-item {
              &:not(:last-child) {
                  margin-right: ($base-point * 5);
              }

              a {
                  padding-bottom: 4px;
                  color: $brand-secondary;
                  font-size: 14px;
                  text-decoration: none;

                  &:hover {
                      text-decoration: none;
                      border-bottom: 2px solid $brand-primary;
                  }
              }
            }
        }
    }

    .nav-icon-open {
        padding: 16px;
        margin: -16px;
        display: none;
        transition: transform $base-duration $base-timing;

        &:hover {
          transform: scaleX(1.5);
        }
    }

    .nav-icon-close {
        display: none;
        padding: 6px;
        position: absolute;
        background: rgba($brand-tertiary, 0.95);
        right: 100%;
        top: 32px;

        img {
            display: block;
            transition: transform .3s ease;

            &:hover {
              transform: rotate(180deg);
            }
        }
      }
  }
}

// Responsive
// -----------------------------------------------
@include bp(medium) {
    #navigation {
        .nav-flex {
            .nav-menu {
                position: fixed;
                padding: ($base-point * 4) ($base-point);
                background: rgba($brand-tertiary, 0.95);
                height: 100%;
                right: -100%;
                top: 0;
                width: 50%;
                z-index: 2;
                transition: right $base-duration $base-timing;

                &.open {
                  right: 0;
                }

                ul {
                  flex-direction: column;

                  .nav-menu-item {
                      padding: $base-point 0;
                      &:not(:last-child) {
                          margin-right: 0;
                      }
                  }
                }

            }

            .nav-icon-open,
            .nav-icon-close {
                display: block;
            }
        }
    }
}
